.alt-header {
  position: fixed;
  padding: var(--horizontal-space);
  top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.alt-header__title {
  font-size: 20px;
  font-weight: 700;
}
.alt-header__column {
  width: 33%;
}
.alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}
.alt-header__column:last-child span:not(:first-child) {
  margin-left: 20px;
}
