.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  top: 24px;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 26px;
  font-weight: 700;
}
.screen-header__icon {
  display: flex;
  align-items: center;
}
.screen-header__icon span {
  margin-left: 20px;
  color: var(--black-gray);
}
